.appBar {
  h2 {
    line-height: 42px;
  }

  .actions {
    text-align: right;

    .notificationButton {
      height: 36px;
      width: 36px;
      color: #fff;
      margin: 3px;
    }

    .loginInfo {
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px;
      background-color: transparent;
      color: #fff;
      box-shadow: none;

      p {
        font-size: 1.15rem;
        margin-right: 5px;
      }

      * {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}